<!--
=========================================================
* Soft UI Dashboard PRO - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-dashboard-pro 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>
        Soft UI Dashboard PRO by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/css/soft-ui-dashboard.css" rel="stylesheet" />
</head>

<body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <!-- End Navbar -->
            </div>
        </div>
    </div>
    <main class="main-content main-content-bg mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-sm-8 mt-7 mt-md-5">
                                <div class="card-header pb-0 text-left">
                                    <h3 class="font-weight-bolder text-primary text-gradient">Registrate Ahora!</h3>
                                    <p class="mb-0">Solo necesitas tu correo y una contraseña</p>
                                </div>
                                <div class="card-body pb-3">
                                    <form role="form">
                                        <label>Nombre</label>
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Name"
                                                aria-label="Name">
                                        </div>
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email"
                                                aria-label="Email">
                                        </div>
                                        <label>Contraseña</label>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" placeholder="Password"
                                                aria-label="Password">
                                        </div>
                                        <div class="form-check form-check-info text-left">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" checked>
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Acepto los siguientes <a href="/signup"
                                                    class="text-dark font-weight-bolder">Terminos y condiciones</a>
                                            </label>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn bg-gradient-primary w-100 mt-4 mb-0" onclick="">Sign
                                                up</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-sm-4 px-1">
                                    <p class="mb-4 mx-auto">
                                        Ya tiene una cuenta?
                                        <a href="/signin" class="text-primary text-gradient font-weight-bold">Inicie
                                            sesión</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                                    style="background-image:url('/img/curved-images/curved11.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mb-4 mx-auto text-center">
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Nuestra misión
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Acerca de nosotros
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Nuestro equipo
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Inmuebles
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Blog
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Facturación
                    </a>
                </div>
                <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-dribbble"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-twitter"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-instagram"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-pinterest"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-github"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Samfi.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- Kanban scripts -->
    <script src="/js/plugins/dragula/dragula.min.js"></script>
    <script src="/js/plugins/jkanban/jkanban.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/soft-ui-dashboard.min.js?v=1.0.9"></script>
    <script>
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        const db = getFirestore(app);

        const auth = getAuth(app);

        async function getAuthToken({ username, password }) {
            try {
                const userCredentialExist = await createUserWithEmailAndPassword(
                    auth,
                    username,
                    password
                );

                return userCredentialExist;
            } catch (err) {
                if (err.code === "auth/email-already-in-use") {
                    const userCredential = await signInWithEmailAndPassword(
                        auth,
                        username,
                        password
                    );

                    return userCredential;
                }
                console.log(err);
                return null;
            }
        }

        export async function loginFirebase(username, password) {
            // Busca el correo asociado al nombre de usuario
            const usersColRef = collection(db, "users");
            const q = query(
                usersColRef,
                where("username", "==", username),
                where("password", "==", password)
            );
            const querySnapshot = await getDocs(q);

            if (querySnapshot.empty) {
                console.error("Username not found");
                return null;
            }

            const { password: secretPassword, ...rest } = querySnapshot.docs[0].data();

            try {
                const { user } = await getAuthToken({ username, password });
                if (user == null) {
                    console.log("Somthing went wrong");
                    return null;
                }
                console.log("User logged in:", user.uid);

                return {
                    token: user.uid,
                    ...rest,
                };
            } catch (error) {
                console.error("Error logging in:", error.message);
                return null;
            }
        }

        export async function getUser(username, password) {
            const usersColRef = collection(db, "users");
            const q = query(
                usersColRef,
                where("username", "==", username),
                where("password", "==", password)
            );
            const querySnapshot = await getDocs(q);
            const users = querySnapshot.docs.map((doc) => doc.data());
            console.log(users);
        }

        export async function addData(user) {
            const userDocRef = doc(db, "users", user.id);
            await setDoc(userDocRef, user);
        }

        import { initializeApp } from "firebase/app";
        import {
            doc,
            updateDoc,
            collection,
            getDocs,
            setDoc,
            query,
            where,
            getFirestore,
        } from "firebase/firestore";

        import {
            createUserWithEmailAndPassword,
            signInWithEmailAndPassword,
            getAuth,
        } from "firebase/auth";
    </script>
</body>

</html>